@model GameFormCreate
@{
    ViewData["Tilte"] = "Create Game";
}
<p>Create Game</p>

<form method="post" enctype="multipart/form-data">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name" class="form-label mt-4"></label>
                <input type="text" class="form-control" asp-for="Name" placeholder="Enter Name">
                 <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            

            <div class="form-group">
                <label asp-for="Description" class="form-label mt-4"></label>
                <textarea type="text" class="form-control" asp-for="Description" placeholder="Enter description"> </textarea>
                
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="CategoryId" class="form-label mt-4"></label>
                <select class="form-control" data-placeholder="Select a category" data-minimum-results-for-search="Infinity" asp-for="CategoryId" asp-items="Model.CategoriesList">
                    <option></option>
                </select>
                 <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevicesId" class="form-label mt-4"></label>
                <select class="form-control" data-placeholder="Select a category"  asp-for="DevicesId" asp-items="Model.Devices">
                    <option></option>
                </select>
                <span asp-validation-for="DevicesId" class="text-danger"></span>
            </div>


             <div class="form-group">
                <label asp-for="icon" class="form-label mt-4"></label>
                <input type="file" class="form-control" asp-for="icon" data-rule-filesize="@SettingFile._maxInBytes" data-msg-filesize="more then 1MB" >
                <small id="emailHelp" class="form-text text-muted">Only .jpeg .jpg .png with max size 1M</small>
                 <span asp-validation-for="icon" class="text-danger"></span>
            </div>

  <button type="submit" class="btn btn-light text-black mt-4">Save</button>
        </div>
        <div class="col-md-6">
            <img class="cover-preview d-none d-flex justify-content-center overflow-hidden"  alt="cover" />
        </div>

    </div>
   
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $.validator.addMethod('filesize',function(value,element,param){
            return this.optional(element) || element.files[0].size < param;
        });
        $(document).ready(function(){
            $('#icon').on('change',function(){
                $('.cover-preview').attr('src', window.URL.createObjectURL(this.files[0])).removeClass("d-none")
            })
        })
    </script>

}